body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  display-model: border-box;

  /* define css variables */
  --grid-gap: 5px;
}

input,
textarea {
  /* those are values from bootstrap */
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  height: 38px;
  line-height: 1.5;
  color: #495057;
}

input {
  height: 38px;
  padding: 0.375rem 0.75rem;
}
